
.other-excerpt {
	font-style: italic;
	background: #fff;
	padding-left: 1em;
	padding-right: 1em;
}

.other-excerpt .bb-lang {
	font-weight: bold;
}

.entry-title .bb-lang {
	font-size: 80%;
  	color: #bbb;
  	vertical-align: 10%;
}
